{% extends "base.html"%}

{% block contenido %}
  <h1 class="text-center">Pagina Principal</h1>
    <h3 class="text-center">¡Bienvenido o bienvenida! </h3>
    <p class="text-center" style="font-size: 20px;">En mi pagina encontraras un poco de todo, hasta animales, vehiculos, maravillas del mundo e incluso un poco sobre mi</p>
     <p class="text-center" style="font-size: 20px;">Disfruta de mi pagina, graciass</p>


<div class="d-flex justify-content-center gap-3 my-4">
  <img src="static/img/bien.webp" alt="" class="img-fluid" style="width: 300px; height: auto;">
</div>

 

{% endblock %}