{% extends "base.html" %}

{% block contenido %}

<div class="bg-primary-subtle p-4 rounded">
  <h1 class="text-center mb-4">Vehículos Antiguos</h1>
  
  <div class="row justify-content-center mb-5">
    <div class="col-md-5 mb-4">
      <div class="card h-100">
        <img src="static/img/vehi1.webp" class="card-img-top" alt="Jaguar E-Type">
        
        <div class="card-body">
          <h4 class="card-title text-center">Jaguar E-Type</h4>
          <p class="card-text text-center fs-6">
            La obra maestra de Sir William Lyons de 1961 fue una vez el superdeportivo de alguna manera económico.
            Las líneas del E-Type no dejan indiferente a ningún aficionado a los coches, para muchos el coupé y
            el roadster de Jaguar encabezan la lista de los clásicos más bonitos de la historia. 
            La primera Serie I llevaba un motor de 3.8 litros.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-5 mb-4">
      <div class="card h-100">
        <img src="static/img/vehi2.webp" class="card-img-top" alt=" Cisitalia 202 ">
        <div class="card-body">
          <h4 class="card-title text-center"> Cisitalia 202 </h4>
          <p class="card-text text-center fs-6">
            Este automóvil anunció la era moderna con la firma de Pininfarina. La idea de una carrocería tipo pontón era completamente nueva cuando la incipiente marca Cisitalia impuso esta encantadora forma en su pequeño cupé deportivo. No en vano, un 202 se encuentra permanentemente en el Museo de Arte Moderno de Nueva York.
            Debajo del capó largo no hay un V12, sino un motor Fiat 1100 revisado, que entrega de 50 a 65 CV.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-5 mb-4">
      <div class="card h-100">
        <img src="static/img/vehi3.webp" class="card-img-top" alt="Porsche 909 Bergspyder "
        <div class="card-body">
          <h4 class="card-title text-center">Porsche 909 Bergspyder </h4>
          <p class="card-text text-center fs-6">
            Los fanáticos del motor quedaron asombrados con la idea de un bóxer de ocho cilindros y dos litros
            en la parte delantera… del eje trasero. Pero lo que es realmente impactante: los inventores de Porsche, bajo el jefe de Desarrollo Ferdinand Piëch, redujeron el peso de este animal de plástico con un chasis de aluminio hasta los 430 kilos.
            Los dos 909 solo corrieron dos veces, en Gaisberg y en Mont Ventoux.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-5 mb-4">
      <div class="card h-100">
        <img src="static/img/vehi4.webp" class="card-img-top" alt="Volkswagen T2 ">
        <div class="card-body">
          <h4 class="card-title text-center">Volkswagen T2 </h4>
          <p class="card-text text-center fs-6">
            La Bulli ofrece mucho espacio, es técnicamente simple y maravillosamente falta de pretensiones.
            Testigos de los años 70 y 80 recuerdan que la amaban gente de todas las clases sociales, 
            desde ejecutivos viajeros hasta hippies que la convirtieron en su enseña. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-5 mb-4">
      <div class="card h-100">
        <img src="static/img/vehi5.jpeg" class="card-img-top" alt="Volvo 240">
        <div class="card-body">
          <h4 class="card-title text-center">Volvo 240</h4>
          <p class="card-text text-center fs-6">
            Es como una nevera con ruedas, y aun así consigue transmitir una increíble elegancia.
            Volvo lo planteó como un símbolo de estatus contra los símbolos de estatus.
            Duradero y espacioso, no pasa de moda porque renunció a virguerías estilísticas.

          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}